
# Ignore everything
*
# But descend into directories
!*/
# Include files
!/.gitignore
!/pom.xml
!/*.gradle
!/*.txt
!/*.jpg
# Recursively allow files under subtrees
!/src/**/*.java
!/target/**/*.jar


